.meme-generator {
    margin: 20px auto;
    width: 400px;
    font-family: sans-serif;
  }
  
  .meme-generator label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .meme-generator input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  
  #meme {
    width: 100%;
  }
  body{
    background-color: aquamarine;
  }