{
  "extends": "airbnb-base",
  "env": {
    "es6": true,
    "browser": true,
    "jquery": true
  },
  "rules": {
    "padded-blocks": "off",
    "no-console": "off",
    "no-unused-expressions": "off",
    "spaced-comment": "off",
    "comma-dangle": "off",
    "function-paren-newline": "off",
    "implicit-arrow-linebreak": "off",
    "import/named": "off",
    "import/no-extraneous-dependencies": "off",
    "arrow-parens": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2020
  }
}
